/* destop footer css start  */
.footer-area {
  background: #fff;
  padding: 70px 0 0;
}

.footer-logo {
  display: inline-block;
  width: 150px;
  margin-bottom: 24px;
}

.footer-description {
  margin-bottom: 24px;
  max-width: 350px;
}

.footer-social {
  margin-top: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 25px;
}

.footer-social h4 {
  color: #fff;
  text-transform: uppercase;
}

.footer-social ul {
  list-style: none;
  text-align: center;
  padding: 10px 0;
}

.footer-social ul li {
  display: inline-block;
  margin-right: 12px;
}

.footer-social ul li a {
  display: inline-flex;
  width: 30px;
  height: 30px;
  font-size: 16px;
  align-items: center;
  justify-content: center;
}

.footer-social ul li a {
  color: var(--primary-color);
  background: #fff;
}

.footer-social ul li a:hover {
  color: var(--secondary-color);
}

.widget-title {
  margin-bottom: 24px;
}

.widget-title h5 {
  color: var(--secondary-color);
  font-size: var(--h4-font-size);
  font-weight: 400;
}

.footer-widget ul {
  list-style: none;
}

.footer-widget ul li {
  margin-bottom: 10px;
  color: var(--text-color);
}

.footer-widget ul li:last-child {
  margin-bottom: 0;
}

.footer-widget a {
  font-weight: 500;
}

.footer-widget a:hover {
  color: var(--primary-color);
}

.footer-copy-right {
  padding: 24px 0;
}

.footer-copy-right ul li {
  display: inline-block;
  position: relative;
  margin: 0 20px;
}

.footer-copy-right ul li::before {
  position: absolute;
  content: "";
  width: 8px;
  height: 8px;
  background: var(--border-color);
  border-radius: 50%;
  top: 50%;
  left: -20px;
  transform: translateY(-50%);
}

.footer-copy-right ul li:first-child:before {
  display: none;
}

.widget-items {
  display: flex;
  align-items: center;
  column-gap: 12px;
  margin-bottom: 20px;
}

.widget-items .item-icon {
  border-radius: 50%;
  border: 1px solid var(--primary-color);
  color: var(--primary-color);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
}

.widget-items .item-icon i {
  font-size: 20px;
}

.copy-right-list {
  padding: 5px 0;
}

.copy-right-list ul li {
  display: inline-block;
  margin-right: 35px;
  color: var(--secondary-color);
}

.copy-right-list ul li a {
  display: flex;
  align-items: center;
  column-gap: 5px;
}

.copy-right-list ul li a span {
  transition: all 0.3s linear;
}

.copy-right-list ul li a:hover span {
  transform: translateX(5px);
}

.copyright p {
  color: #000;
}

/* destop footer css end  */
