.header-area {
  background: #fff;
}

.header-top {
  padding: 6px 0;
}

.sticky-header {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  z-index: 99999;
  background: #fff;
  transition: 0.3s;
  box-shadow: 0 0 5px #00000020;
}

.header-logo {
  text-align: center;
}

.header-logo a {
  width: 105px;
  display: inline-block;
}

.header-logo a:hover span {
  text-decoration: none;
}

.header-logo a span {
  color: #fff;
  font-size: 28px;
  line-height: 1;
  margin-left: 5px;
  font-weight: 400;
}

.header-contact ul {
  list-style: none;
}

.header-contact ul li {
  display: inline-block;
  margin-right: 30px;
}

.header-contact ul li:last-child {
  margin: 0;
}

.header-contact ul li a {
  display: flex;
  align-items: center;
  column-gap: 12px;
  font-weight: 500;
}

.header-contact ul li a i {
  color: var(--primary-color);
}

.header-contact ul li a:hover span {
  color: var(--primary-color);
  text-decoration: underline;
}

.header-social {
  display: flex;
  align-items: center;
  column-gap: 30px;
  justify-content: end;
}

.header-social h4 {
  font-weight: 500;
  margin-bottom: 5px;
  text-decoration: underline;
}

.header-social ul {
  list-style: none;
}

.header-social ul li {
  display: inline-block;
  margin-right: 24px;
}

.header-social ul li:last-child {
  margin-right: 0;
}

.header-social ul li a {
  display: inline-flex;
  width: 45px;
  height: 45px;
  font-size: 18px;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  border: 1px solid var(--border-color);
}

.header-social ul li a:hover {
  background: var(--primary-color);
  border-color: var(--primary-color);
  color: #fff;
}

.toggle-icon {
  font-size: 20px;
}

.main-menu {
  position: relative;
  background: var(--primary-color);
}
.main-menu > ul {
  list-style: none;
  text-align: center;
}

.main-menu > ul > li {
  display: inline-block;
  margin: 0 15px;
}

.main-menu ul > li > a {
  color: #fff;
  border: solid transparent;
  border-width: 2px 0;
  padding: 10px 0;
  position: relative;
  font-family: "Barlow Condensed", sans-serif;
  font-size: 20px;
  display: inline-block;
  font-weight: 500;
}

.main-menu ul > li > a::after {
  position: absolute;
  content: "";
  width: 0;
  height: 2px;
  background: #fff;
  left: 0;
  bottom: 10px;
  transition: width 0.2s linear;
}

.main-menu ul > li > a:hover:after {
  width: 100%;
}

.sub-menu {
  position: absolute;
  visibility: hidden;
  opacity: 0;
  top: 100%;
  left: 0;
  text-align: left;
  padding: 12px;
  background: var(--primary-color);
  border-bottom: 2px solid #fff;
  transition: opacity 0.3s linear, visibility 0.3s linear;
  z-index: 5;
}

.sub-menu.tiny-menu {
  width: 240px;
  min-width: max-content;
}

.sub-menu.small-menu {
  width: 480px;
}

.sub-menu.medium-menu {
  width: 720px;
}

.sub-menu.large-menu {
  width: 856px;
}

.sub-menu-title {
  border-bottom: 1px solid #ddd;
  display: inline-block;
}

.sub-menu-list ul {
  list-style: none;
}

.sub-menu-list ul > li > a {
  padding: 5px 0;
}

.sub-menu-list ul > li > a::after {
  bottom: 5px;
}

.main-menu ul li:hover .sub-menu {
  visibility: visible;
  opacity: 1;
}
