/* Banner Section */
#banner {
  padding: 0;
}

#banner .carousel-item {
  position: relative;
}

#banner .carousel-item::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0.75) 85%
  );
  z-index: 1;
}

#banner .carousel-item img {
  height: 735px;
  object-fit: cover;
  opacity: 0.9;
}

#banner .carousel-caption {
  z-index: 2;
  color: #fff;
  max-width: 50%;
  margin: auto;
}

#banner .carousel-caption h5 {
  font-size: 32px;
  margin-bottom: 8px;
}

/* about us section  */

/* CEO Message Section Styling */

#about-us {
  background: #f1f2fc;
}

#about-us h2 {
  color: var(--primary-color);
  font-size: var(--h2-font-size);
  margin-bottom: 1rem;
}

#about-us .text-muted {
  font-size: var(--body-font-size);
  line-height: var(--body-line-height);
  color: var(--text-color);
}

#about-us img {
  border-radius: 0.5rem;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

#about-us p {
  font-size: var(--body-font-size);
  margin-bottom: 1rem;
  color: var(--text-color);
}

/* services section styling  */

#services .card {
  border: none;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s;
}
#services .card:hover {
  transform: translateY(-10px);
}

#services .card-img-top {
  overflow: hidden;
}

#services .card-img-top img {
  width: 100%;
  object-fit: cover;
  height: 275px;
}

#services .card-img-top:hover img {
  transform: scale(1.05);
}

/* achievement section styling  */

#achievements {
  background-color: #fff;
}

.achievement {
  background-color: var(--light-background-color, #fff);
  padding: 20px;
  border-radius: 8px;
  box-shadow: var(--box-shadow, 0 4px 8px rgba(0, 0, 0, 0.1));
  margin: 10px;
}

.achievement h3 {
  font-size: 3rem;
  color: var(--secondary-color);
  margin: 0;
}

.achievement p {
  font-size: 1.2rem;
  color: var(--text-color, #666);
  margin-top: 10px;
}

/* Vision, Mission, Values Section */

#vision-mission-values {
  background: #f0f6f3;
}

#vision-mission-values .card {
  border: 1px solid var(--border-color);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

#vision-mission-values .card:hover {
  transform: translateY(-5px);
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.15);
}

#vision-mission-values .card-img-top {
  width: 50%;
  display: inline-block;
  margin: auto;
  padding: 24px;
}

#vision-mission-values .card h4 {
  color: #000;
  text-transform: uppercase;
  font-size: var(--h4-font-size);
  font-weight: 700;
  text-align: center;
  margin-bottom: 24px;
}

#vision-mission-values .card p,
#vision-mission-values .card ul li {
  font-size: var(--body-font-size);
  color: var(--text-color);
}

#vision-mission-values .card ul li {
  margin-bottom: 12px;
}

.vision-card {
  background-color: #d0e7ff;
}

.mission-card {
  background-color: #cde8e3;
}

.values-card {
  background-color: #ffe5d4;
}

/* Brands Section Styling */
#brands {
  background-color: var(--light-background-color);
}

#brands h2 {
  color: var(--primary-color);
  font-size: var(--h2-font-size);
  margin-bottom: 2rem;
}

#brands .swiper-slide {
  overflow: hidden;
}

#brands .swiper-slide img {
  width: 100%;
  height: 301.5px;
  object-fit: cover;
}

#brands .swiper-slide img:hover {
  transform: scale(1.05);
}

/* Blog Section */

#blog {
  background: #fff;
}

#blog .card {
  box-shadow: var(--box-shadow);
  transition: transform 0.3s, box-shadow 0.3s;
}

#blog .card:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 12px var(--box-shadow-color);
}

#blog .card-img-top {
  overflow: hidden;
}

#blog .card-img-top img {
  width: 100%;
  height: 266px;
  object-fit: cover;
}

#blog .card-img-top:hover img {
  transform: scale(1.05);
}

#blog .card-title {
  font-size: var(--h4-font-size);
}

#blog .card-text {
  font-size: var(--small-font-size);
  color: var(--text-color);
  margin-bottom: 32px;
}

/* Hero Section */
.blog-hero {
  background-image: url("../img/banner/img-7.jpg");
  background-size: cover;
  background-position: center;
  color: white;
  height: 735px;
  display: flex;
  align-items: center;
  text-align: center;
  position: relative;
}

.blog-hero h1 {
  font-size: 3rem;
  font-weight: bold;
}

.blog-hero p {
  font-size: 1.25rem;
  max-width: 600px;
  margin: 0 auto;
}

/* Blog Card Styles */
.blog-card {
  transition: transform 0.3s, box-shadow 0.3s;
  border: none;
  overflow: hidden;
  border-radius: 10px;
}

.blog-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
}

.blog-card img {
  max-height: 200px;
  object-fit: cover;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.blog-card .card-body {
  padding: 20px;
}

.blog-card .card-title {
  font-size: 1.5rem;
  font-weight: bold;
}

.blog-card .card-text {
  color: #6c757d;
}

/* Sidebar */
.blog-sidebar {
  background-color: #fff;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  margin-bottom: 20px;
}

.blog-sidebar h5 {
  font-weight: bold;
  margin-bottom: 20px;
}

.blog-sidebar ul {
  padding-left: 0;
  list-style-type: none;
}

.blog-sidebar ul li {
  margin-bottom: 10px;
}

.blog-sidebar ul li a {
  color: #495057;
  text-decoration: none;
  transition: color 0.2s;
}

.blog-sidebar ul li a:hover {
  color: #007bff;
}

/* gallery section  */

.galler-img {
  display: block;
  overflow: hidden;
  margin-bottom: 24px;
}

.galler-img:hover img {
  transform: scale(1.05);
}

.galler-img img {
  width: 100%;
  height: 275px;
  object-fit: cover;
}

/* cta section  */

#cta {
  background-color: #007bff;
  color: white;
  padding: 3rem 0;
}

/* FAQ Section */
.faq-accordion * {
  border-radius: 0 !important;
}

.faq-accordion .accordion-button:not(.collapsed) {
  background: var(--primary-color);
  color: #fff;
}

.faq-accordion .accordion-button:not(.collapsed)::after {
  filter: brightness(0) invert(1);
}

.faq-accordion .accordion-button:focus {
  box-shadow: none;
}

/* Contact Section */
#contact h2 {
  font-size: var(--h2-font-size);
  color: var(--primary-color);
}

.form-floating {
  position: relative;
}

.form-floating input,
.form-floating textarea {
  border: 1px solid var(--border-color);
  border-radius: 0.25rem;
  padding: 0.75rem;
  background: #fff !important;
}

.form-floating label {
  position: absolute;
  font-size: var(--small-font-size);
  color: var(--primary-color);
  pointer-events: none;
  transition: all 0.2s ease-in-out;
}

.form-floating input:focus ~ label,
.form-floating textarea:focus ~ label,
.form-floating input:not(:placeholder-shown) ~ label,
.form-floating textarea:not(:placeholder-shown) ~ label {
  top: -0.75rem;
  left: 0.5rem;
  font-size: 0.75rem;
  color: var(--primary-color);
}

.form-floating > .form-control:focus ~ label {
  color: var(--primary-color);
}

.form-floating > .form-control:focus ~ label::after {
  color: var(--primary-color);
}

/* Hero Section */
#career-hero {
  background: url("../img/banner/img-6.jpg") no-repeat top center/contain;
  color: #fff;
  height: 735px;
  position: relative;
}

.down-link-wrap {
  position: absolute;
  bottom: 45px;
  left: 50%;
  transform: translateX(-50%);
}

.down-link-wrap a {
  display: inline-block;
  height: 108px;
  width: 68px;
  border: 1px solid var(--secondary-color);
  border-radius: 200px;
  position: relative;
  overflow: hidden;
}

.down-link-wrap a:hover {
  background: var(--secondary-color);
}

.down-link-wrap a svg {
  position: absolute;
  top: 50%; /* Align in the middle vertically */
  left: 50%; /* Align in the middle horizontally */
  transform: translate(-50%, -50%); /* Center the icon */
  animation: iconUpDown 2s ease-in-out infinite; /* Infinite up and down movement */
}

.down-link-wrap a:hover svg path {
  fill: #fff;
}

@keyframes iconUpDown {
  0% {
    transform: translate(-50%, -50%) translateY(0); /* Starting position */
  }
  50% {
    transform: translate(-50%, -50%) translateY(-10px); /* Move up by 10px */
  }
  100% {
    transform: translate(-50%, -50%) translateY(0); /* Return to the original position */
  }
}
/* benefit box  */

#benefits {
  background: #f0f00f0f;
}

.benefit-box {
  box-shadow: 0 0 2px 0 #00000080;
}

.benefit-box.box-1 {
  background: #c8fcff;
}
.benefit-box.box-2 {
  background: #ffe9c8;
}
.benefit-box.box-3 {
  background: #ffc8c8;
}
.benefit-box img {
  width: 100px;
  border-bottom: 2px solid var(--secondary-color);
  padding-bottom: 20px;
}

.benefit-box h5 {
  margin: 20px 0 5px;
  color: var(--secondary-color);
}

/* Custom Style for Job Search Input */
#jobSearch {
  width: 100%;
  padding: 12px 20px;
  border: 2px solid var(--secondary-color);
  border-radius: 30px; /* Rounded corners */
  outline: none;
  font-size: 16px;
  color: #333;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Light shadow */
  transition: all 0.3s ease;
}

#jobSearch::placeholder {
  color: #888; /* Light placeholder color */
  font-style: italic;
}

#jobSearch:focus {
  border-color: var(--secondary-color);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15); /* Stronger shadow on focus */
  background-color: #f8f9fa; /* Light background on focus */
}

#jobSearch:hover {
  border-color: var(--secondary-color);
}

#sister-companies .card-img-top {
  overflow: hidden;
}

#sister-companies .card-img-top img {
  width: 100%;
  height: 266px;
  object-fit: cover;
}

#sister-companies .card-img-top:hover img {
  transform: scale(1.05);
}

#sister-companies .card-title a {
  color: var(--secondary-color);
}
/*---------------------------
contact page css 
----------------------------*/
#contact-hero {
  background-image: url("../img/banner/img-8.jpg");
  /* width: 100%; */
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  color: #fff;
  height: 735px;
  position: relative;
}
