/* Laptop layout min 1200px */

@media (min-width: 1200px) and (max-width: 1599px) {
  :root {
    --h1-font-size: 2.5rem;
    --h2-font-size: 2rem;
    --h3-font-size: 1.75rem;
    --h4-font-size: 1.35rem;
    --h5-font-size: 1.25rem;
    --h6-font-size: 1rem;
  }

  .news-mid {
    column-gap: 20px;
  }

  .main-menu > ul > li {
    margin: 0 10px;
  }

  .header-action-list ul li a {
    column-gap: 10px;
    padding: 16px 12px;
  }

  .news-nav .nav-link,
  .news-nav .nav-link {
    font-size: 14px;
  }
}

/* Mini laptop layout min 769px */

@media (min-width: 992px) and (max-width: 1199px) {
  :root {
    --h1-font-size: 2rem;
    --h2-font-size: 1.75rem;
    --h3-font-size: 1.5rem;
    --h4-font-size: 1.05rem;
    --h5-font-size: 1rem;
    --h6-font-size: 14px;
  }

  body {
    font-size: 14px;
  }

  .header-logo {
    width: 100%;
  }

  .header-logo a {
    width: 80px;
  }

  .header-social ul li a {
    display: inline-flex;
    width: 25px;
    height: 25px;
    font-size: 14px;
    align-items: center;
    justify-content: center;
    background: var(--primary-color);
    color: #fff;
    border: 1px solid var(--primary-color);
  }

  .main-menu > ul > li {
    margin: 0 4px;
  }

  .main-menu > ul > li > a {
    font-size: 14px;
    padding: 5px 0;
  }

  .header-action-list ul li a {
    column-gap: 5px;
    padding: 16px 8px;
  }

  #banner .carousel-item img {
    height: calc(100vh - 105.55px);
  }

  .footer-logo a {
    width: 100px;
  }

  #our-team .card .card-img-top {
    width: 150px;
    margin: 15px auto;
  }

  .blog-area .card img {
    max-height: 185px;
  }
}

/* Tablet Layout wide: 768px. */

@media (min-width: 768px) and (max-width: 991px) {
  :root {
    --h1-font-size: 2rem;
    --h2-font-size: 1.75rem;
    --h3-font-size: 1.5rem;
    --h4-font-size: 1.25rem;
    --h5-font-size: 20px;
    --h6-font-size: 18px;
  }

  .header-top {
    position: fixed;
    width: 100%;
    z-index: 99999;
    background: #fff;
    top: 0;
    left: 0;
    box-shadow: 0 0 10px #00000040;
  }

  .header-logo {
    text-align: left;
  }

  .header-logo a {
    width: 120px;
  }

  .header-contact {
    margin-bottom: 15px;
  }

  .main-menu > ul > li {
    margin: 0px 5px;
  }

  .toggle-icon {
    font-size: 20px;
    padding: 16px 0;
    position: relative;
    color: var(--primary-color);
  }

  .toggle-icon::before,
  .toggle-icon::after {
    position: absolute;
    content: "";
    width: 22px;
    height: 3px;
    border-radius: 30px;
    background: var(--primary-color);
    right: 0;
    transition: all 0.3s linear;
  }

  .toggle-icon::before {
    top: 32.5%;
  }

  .toggle-icon::after {
    bottom: 32.5%;
  }

  .toggle-icon.open::before {
    transform: rotate(45deg);
    top: 47.5%;
    height: 2px;
    background: var(--secondary-color);
  }

  .toggle-icon.open::after {
    transform: rotate(-45deg);
    bottom: 47.5%;
    height: 2px;
    background: var(--secondary-color);
  }

  .toggle-icon.open i {
    visibility: hidden;
  }

  .mobile-menu {
    position: fixed;
    transform: translateX(-100%);
    top: 99px;
    left: 0;
    z-index: 9999;
    width: 65%;
    background: #fff;
    height: 100%;
    box-shadow: #0216330f -2px 0px 4px 0px;
    transition: all 0.3s linear;
    overflow-y: auto;
  }

  .mobile-menu.open {
    transform: translateX(0);
  }
  .mobile-logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 24px;
  }

  .mobile-logo a {
    display: inline-block;
    width: 130px;
  }

  .mobile-menu ul {
    list-style: none;
  }

  .mobile-menu .toggle-icon {
    display: block;
    margin-left: auto;
    text-align: end;
    line-height: 1;
    width: 18px;
  }

  .mobile-menu-search-wrap {
    display: flex;
    margin: 12px;
  }

  .mobile-menu-search-wrap .form-floating {
    width: 100%;
  }

  .mobile-menu-search-wrap .search-btn .btn {
    width: 58px;
    min-height: 58px;
  }

  .mobile-menu ul > li,
  .mobile-menu ul > li > a > i,
  .mobile-sub-menu > li > a > i {
    transition: all 0.3s linear;
  }

  .mobile-menu > ul > li > a {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 12px 24px;
    font-weight: 600;
  }

  .mobile-sub-menu > li > a {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 12px 24px 12px 36px;
    font-weight: 600;
  }

  .mobile-menu-list > li > a {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 12px 24px 12px 48px;
    font-weight: 600;
  }

  .mobile-main-menu > li.open > a {
    background-color: var(--primary-color);
    color: #ffffff;
    border-bottom-color: var(--primary-color);
  }

  .mobile-sub-menu > li.open > a {
    background-color: var(--secondary-color);
    color: #000;
    border-bottom-color: var(--secondary-color);
  }

  .mobile-main-menu > li.open > a > i {
    transform: rotate(180deg);
  }
  .mobile-sub-menu > li.open > a > i {
    transform: rotate(180deg);
  }

  .mobile-menu > ul > li > .mobile-sub-menu {
    height: 0;
    visibility: hidden;
    opacity: 0;
    transition: height 0.2s linear;
  }

  .mobile-menu > ul > li.open .mobile-sub-menu {
    visibility: visible;
    opacity: 1;
    overflow-y: auto;
    height: 384px;
    max-height: max-content;
  }

  .mobile-sub-menu,
  .mobile-menu-list {
    visibility: collapse;
    opacity: 0;
    height: 0;
    overflow: hidden;
    transition: all 0.3s ease;
  }

  .open > .mobile-sub-menu,
  .open > .mobile-menu-list {
    visibility: visible;
    opacity: 1;
    height: 384px;
    max-height: max-content;
  }

  .mobile-sub-menu-contents {
    display: flex;
    gap: 15px;
    padding: 8px 24px;
  }

  .mobile-sub-menu > ul > li {
    border-bottom: 1px solid var(--primary-color);
  }
  .mobile-sub-menu > ul {
    background: #6fac2f;
  }

  .mobile-sub-menu-contents .icon i {
    font-size: 20px;
    color: #fff;
  }

  .mobile-sub-menu-contents .text-contents h4 {
    color: #fff;
    font-size: 16px;
    font-weight: 500;
  }

  #banner {
    margin-top: 99px;
  }

  #banner .carousel-item img {
    height: calc(100vh - 99px);
    object-fit: cover;
    opacity: 0.9;
  }

  #banner .carousel-caption {
    max-width: 100%;
  }

  #banner .carousel-caption p {
    display: -webkit-box;
    line-clamp: 1;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    margin-bottom: 5px;
  }

  .achievement {
    padding: 12px;
    margin: 0;
  }

  .copy-right-list ul li {
    margin-right: 20px;
  }

  .footer-logo a {
    width: 100px;
  }

  .common-banner {
    margin-top: 99px;
  }

  .our-story-description {
    margin-top: 24px;
  }

  .section-title h2::after {
    bottom: -5px;
  }

  .blog-area .card img {
    max-height: 212px;
  }

  .blog-sidebar {
    width: 48%;
    display: inline-block;
    margin-right: 24px;
  }

  .blog-sidebar:last-child {
    margin-right: 0;
  }
}

/* Mobile layout max 425 */

@media (max-width: 767px) {
  :root {
    --h1-font-size: 1.75rem;
    --h2-font-size: 1.5rem;
    --h3-font-size: 1.25rem;
    --h4-font-size: 1.25rem;
    --h5-font-size: 20px;
    --h6-font-size: 18px;
  }

  .section-title h2::after {
    bottom: -5px;
  }

  section {
    padding: 50px 0;
  }

  .header-top {
    position: fixed;
    width: 100%;
    z-index: 99999;
    padding: 0;
    background: #fff;
    top: 0;
    left: 0;
    box-shadow: 0 0 10px #00000020;
  }

  .header-logo {
    text-align: left;
  }

  .header-logo a {
    width: 60px;
  }

  .header-bottom {
    padding: 0;
  }

  .main-menu {
    position: relative;
    width: 100%;
    overflow-x: auto;
  }

  .main-menu::-webkit-scrollbar {
    display: none;
  }

  .main-menu > ul {
    list-style: none;
    width: max-content;
  }

  .toggle-icon {
    font-size: 20px;
    padding: 16px 0;
    position: relative;
    color: var(--primary-color);
  }

  .toggle-icon::before,
  .toggle-icon::after {
    position: absolute;
    content: "";
    width: 22px;
    height: 3px;
    border-radius: 30px;
    background: var(--primary-color);
    right: 0;
    transition: all 0.3s linear;
  }

  .toggle-icon::before {
    top: 32.5%;
  }

  .toggle-icon::after {
    bottom: 32.5%;
  }

  .toggle-icon.open::before {
    transform: rotate(45deg);
    top: 47.5%;
    height: 2px;
    background: var(--secondary-color);
  }

  .toggle-icon.open::after {
    transform: rotate(-45deg);
    bottom: 47.5%;
    height: 2px;
    background: var(--secondary-color);
  }

  .toggle-icon.open i {
    visibility: hidden;
  }

  .mobile-menu {
    position: fixed;
    transform: translateX(-100%);
    top: 62px;
    left: 0;
    z-index: 9999;
    width: 100%;
    background: #fff;
    height: 100%;
    box-shadow: #0216330f -2px 0px 4px 0px;
    transition: all 0.3s linear;
    overflow-y: auto;
  }

  .mobile-menu.open {
    transform: translateX(0);
  }
  .mobile-logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 24px;
  }

  .mobile-logo a {
    display: inline-block;
    width: 130px;
  }

  .mobile-menu ul {
    list-style: none;
  }

  .mobile-menu .toggle-icon {
    display: block;
    margin-left: auto;
    text-align: end;
    line-height: 1;
    width: 18px;
  }

  .mobile-menu-search-wrap {
    display: flex;
    margin: 12px;
  }

  .mobile-menu-search-wrap .form-floating {
    width: 100%;
  }

  .mobile-menu-search-wrap .search-btn .btn {
    width: 58px;
    min-height: 58px;
  }

  .mobile-menu ul > li,
  .mobile-menu ul > li > a > i,
  .mobile-sub-menu > li > a > i {
    transition: all 0.3s linear;
  }

  .mobile-menu > ul > li > a {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 12px 24px;
    font-weight: 600;
  }

  .mobile-sub-menu > li > a {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 12px 24px 12px 36px;
    font-weight: 600;
  }

  .mobile-menu-list > li > a {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 12px 24px 12px 48px;
    font-weight: 600;
  }

  .mobile-main-menu > li.open > a {
    background-color: var(--primary-color);
    color: #ffffff;
    border-bottom-color: var(--primary-color);
  }

  .mobile-sub-menu > li.open > a {
    background-color: var(--secondary-color);
    color: #000;
    border-bottom-color: var(--secondary-color);
  }

  .mobile-main-menu > li.open > a > i {
    transform: rotate(180deg);
  }
  .mobile-sub-menu > li.open > a > i {
    transform: rotate(180deg);
  }

  .mobile-menu > ul > li > .mobile-sub-menu {
    height: 0;
    visibility: hidden;
    opacity: 0;
    transition: height 0.2s linear;
  }

  .mobile-menu > ul > li.open .mobile-sub-menu {
    visibility: visible;
    opacity: 1;
    overflow-y: auto;
    height: 384px;
    max-height: max-content;
  }

  .mobile-sub-menu,
  .mobile-menu-list {
    visibility: collapse;
    opacity: 0;
    height: 0;
    overflow: hidden;
    transition: all 0.3s ease;
  }

  .open > .mobile-sub-menu,
  .open > .mobile-menu-list {
    visibility: visible;
    opacity: 1;
    height: 384px;
    max-height: max-content;
  }

  .mobile-sub-menu-contents {
    display: flex;
    gap: 15px;
    padding: 8px 24px;
  }

  .mobile-sub-menu > ul > li {
    border-bottom: 1px solid var(--primary-color);
  }
  .mobile-sub-menu > ul {
    background: #6fac2f;
  }

  .mobile-sub-menu-contents .icon i {
    font-size: 20px;
    color: #fff;
  }

  .mobile-sub-menu-contents .text-contents h4 {
    color: #fff;
    font-size: 16px;
    font-weight: 500;
  }

  #banner {
    margin-top: 62px;
  }

  #banner .carousel-item img {
    height: calc(100vh - 62px);
    object-fit: cover;
    opacity: 0.9;
  }

  #banner .carousel-caption {
    max-width: 100%;
  }

  #banner .carousel-caption p {
    display: -webkit-box;
    line-clamp: 1;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    margin-bottom: 5px;
  }

  .achievement {
    padding: 12px;
    margin: 0;
    margin-bottom: 24px;
  }

  .copy-right-list ul li {
    margin-right: 12px;
    margin-left: 12px;
  }

  .footer-area {
    padding-top: 50px;
  }

  .footer-logo a {
    width: 100px;
  }

  .footer-social {
    margin-top: 24px;
    column-gap: 12px;
  }
  .footer-social ul li {
    margin-right: 5px;
  }

  .footer-social ul li a {
    width: 25px;
    height: 25px;
    font-size: 14px;
  }

  .widget-title {
    margin-bottom: 16px;
  }

  .copy-right-list {
    text-align: center;
  }

  .copyright p {
    text-align: center;
  }

  .common-banner {
    margin-top: 62px;
  }

  .our-story-description {
    margin-top: 24px;
  }

  .section-title h2::after {
    bottom: -5px;
  }

  .contact-form {
    margin-bottom: 24px;
  }
}
